.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}

.icon {
    width: 100px;
    height: 100px;
}

.title {
    margin-bottom: 10px;
    color: #2c2851;
    font-family: "Montserrat", sans-serif;
}

.description {
    color: #0c0b0e;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

@media only screen and (max-width: 775px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}