.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
    letter-spacing: 2px;

}

.card {
    display: grid;
    width: 100%;
    min-height: 120px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}

.image {
    height: 90px;
    width: 110px;
}

.info {
    padding: 10px;
    display: grid;
    place-items: center;
    font-size: 18px;
    text-align: justify;
    padding: 0 4rem;
    margin: 5px 0;
}

.title {
    margin-bottom: 10px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
}

.description {
    color: #000000;
}

@media only screen and (max-width: 713px) {
    .card {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}

.technologies {
    color: rgb(255, 0, 0);
}

.technologies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    color: rgb(82, 40, 40);
    text-align: center;
    height: 4rem;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
    margin: 0px 22px;
}

.technologies_text {
    margin: 2px;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgba(255, 0, 0, 0.414);
}

.technologies_text:hover {
    background-color: #ffaeae98;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
    padding: 10px 30px;
    text-align: center;
}

.link>a {
    text-decoration: none;
    margin: 2px;
    color: rgb(0, 0, 0);
    padding: 4px;
    border: 1px solid #ff8a8a;
    background-color: #ffb4b4;
    width: 5rem;
    border-radius: 4px;
}

.link>a:hover {
    background-color: #ff8a8a;
}