.wrapper {
    margin: 50px 0;
}

.title {
    font-family: 'Orbitron', sans-serif;
    margin: 40px 0 20px 0;
    color: #2c2851;
    font-size: 40px;
    text-align: center;
}

.profile {
    width: 40%;
    height: 60%;
    border-radius: 2%;
    filter: grayscale(20%);
}

.profile:hover {
    box-shadow: 10px 10px 10px 0px rgba(37, 34, 34, 0.532);
    cursor: none;
}

.socials {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-right: auto;
    margin-left: 20px;
}

.socials>* {
    height: 30px;
    width: 30px;
    margin: 10px;
}

.wave {
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: wave-animation;
    animation-name: wave-animation;
    display: inline-block;
    -webkit-transform-origin: 70% 70%;
    transform-origin: 70% 70%;
}

@keyframes wave-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    10% {
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg)
    }

    20% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg)
    }

    30% {
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg)
    }

    40% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }

    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }

    60% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}


.tech_text {
    background: linear-gradient(to left, rgba(255, 0, 0, 0.518) 10%, rgb(0, 255, 225) 40%, rgb(0, 0, 255) 60%, rgb(141, 0, 218) 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 1s linear infinite;
    font-size: 30px;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.text {
    color: #2c2851;
    font-size: 23px;
    margin-bottom: 40px;
    text-align: center;
    margin: 7rem;
}

.profile:hover {
    filter: none;
}

.name {
    color: rgb(161, 87, 169);
}

.description {
    font-family: "Varela Round", sans-serif;
    text-align: center;
    color: rgb(248, 121, 121);
    font-size: 30px;
}



.buttonBox {
    max-width: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0 auto;
    margin-bottom: 30px;

}

.button {
    width: 100%;
    min-height: 50px;
    border: 1px solid #66ffcc;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.button:last-child {
    border: 1px solid #2c2851;
}


.hero_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
}

@media only screen and (max-width: 917px) {
    .hero_content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .socials {
        display: none;
    }

    .profile {
        height: 70%;
        width: 60%;
    }

    .text {
        margin: 3rem;
    }
}

.project {
    background-color: #2c2851;
    color: white;
}

.project:hover {
    cursor: pointer;
    background-color: #453e87;

}

.hire {
    background-color: #6cf5c2;
    color: rgb(25, 24, 35);
}

.hire:hover {
    cursor: pointer;
    background-color: #5ce6b6;

}

@media only screen and (max-width: 560px) {
    .buttonBox {
        grid-template-columns: 1fr;
        max-width: 100%;
    }
}